* {
  font-family: "Lato", sans-serif !important;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: rgb(0, 0, 0);
}

.navbar {
  background-color: white;
}
.navbar .navbar-brand img {
  height: 100px;
  width: 376px;
}
.navbar .nav-item .nav-link {
  font-weight: 700;
  font-size: 24px;
  color: rgb(0, 0, 0);
}
.navbar .nav-item .nav-link i {
  color: #AD2534;
  margin-right: 10px;
  font-size: 26px;
}

@media only screen and (max-width: 600px) {
  .navbar .navbar-brand img {
    width: 250px;
  }
}
.home_banner .banner {
  padding: 100px 0px;
  background-image: url("../images/home/Rectangle_9.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.home_banner .banner .banner_inner_images .img_3 {
  position: absolute;
  top: 0;
  left: 0;
}
.home_banner .banner .banner_inner_images .img_4 {
  position: absolute;
  bottom: 0;
  left: 20%;
}
.home_banner .banner .banner_inner_images .img_5 {
  position: absolute;
  bottom: 0;
  right: 0%;
  height: 100%;
  z-index: 1;
}
.home_banner .banner .banner_inner_images .img_2 {
  position: absolute;
  top: 3%;
  right: 26%;
}
.home_banner .banner .banner_inner_images .img_1 {
  position: absolute;
  bottom: 0;
  right: 0%;
  height: 100%;
}
.home_banner .banner .inner_text {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.home_banner .banner .inner_text h1 {
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
  color: #FBD820;
}
.home_banner .banner .inner_text h2 {
  font-size: 34px;
  color: white;
  font-weight: lighter !important;
}
.home_banner .banner .inner_text .btn_box {
  margin-top: 20px;
  position: relative;
}
.home_banner .banner .inner_text .btn_box p {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  text-transform: uppercase;
  z-index: 2;
}
.home_banner .banner .inner_text .btn_box p span {
  color: #AD2534;
}
.home_banner .banner .inner_text .btn_box p a {
  font-weight: 700;
  text-decoration: none;
  font-size: 28px;
  color: #005B8E;
}
.home_banner .banner .inner_text .btn_box p i {
  border: 1px solid red;
  margin-left: 10px;
  font-weight: 700;
  background-color: #AD2534;
  color: white;
  border-radius: 5px;
}
.home_banner .home_footer {
  padding: 60px 0px 40px 0px;
}
.home_banner .home_footer p {
  font-weight: 300;
  font-size: 18px;
  color: rgb(0, 0, 0) !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.footer_copyright {
  background-color: #EEEEEE;
  padding: 15px 0px 10px 0px;
}

.tabs .inner_tabs_con {
  padding: 50px 0px;
  background-image: url("../images/tabs/img_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.tabs .inner_tabs_con .inner_child_con {
  height: 100%;
  display: flex;
  align-items: center;
}
.tabs .inner_tabs_con .inner_child_con h2 {
  font-weight: 500;
  font-size: 38px;
  color: white;
}
.tabs .inner_tabs_con .inner_child_con h2 span {
  color: #FBD820;
}
.tabs .inner_tabs_con .form_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
}
.tabs .inner_tabs_con .form_box .btn_box {
  width: 60%;
  text-align: end;
}
.tabs .inner_tabs_con .form_box .btn_box .btn_next {
  background-color: #005B8E;
  border-radius: 8px;
  padding: 14px 40px;
  text-transform: uppercase;
  color: white;
  margin-top: 20px;
}
.tabs .inner_tabs_con .form_box .btn_box .preview_button {
  margin-top: 20px;
  background-color: #EEEEEE;
  padding: 14px;
  font-weight: bold;
  margin-right: 5px;
}
.tabs .inner_tabs_con .form_box .form_child {
  background: #FFFFFF;
  box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.25);
  border-radius: 25px 8px;
}
.tabs .inner_tabs_con .form_box .form_header {
  background: #F5F5F5;
  border-radius: 25px 8px;
  padding: 20px;
}
.tabs .inner_tabs_con .form_box .form_header p {
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
}
.tabs .inner_tabs_con .form_box .form_header a {
  color: rgb(0, 0, 0);
}
.tabs .inner_tabs_con .form_box .form_body {
  padding: 25px;
}
.tabs .inner_tabs_con .form_box .form_body .form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #5E6366;
}
.tabs .inner_tabs_con .form_box .form_body .form-control {
  border: 1px solid #5E6366 !important;
  padding: 10px;
}
.tabs .inner_tabs_con .form_box .form_body h5 {
  font-size: 24px;
  text-align: center;
}
.tabs .inner_tabs_con .form_box .form_body .form_check_p {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.tabs .inner_tabs_con .form_box .form_body .form_check_p p {
  font-weight: 400;
  font-size: 18px;
  margin: 10px 0px;
  color: rgb(0, 0, 0);
}
.tabs .inner_tabs_con .form_box .form_body .form_check_p .form-check-input {
  padding: 10px;
}
.tabs .inner_tabs_con .form_box .form_body .form_check_p .form-check {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px !important;
  border: 1px solid #E7E7E8;
  border-radius: 5px;
}
.tabs .inner_tabs_con .form_box .form_body .form_check_p .form-check .form-check-input {
  margin-left: 0px !important;
}

.plan .plan_banner {
  padding: 100px;
  background-image: url("../images/plan/img_38.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.plan .plan_banner .plan_banner_con {
  width: 50%;
  text-align: center;
}
.plan .plan_banner .plan_banner_con h4 {
  font-weight: 300;
  font-size: 42px;
  line-height: 50px;
  color: #005B8E;
  margin: 20px 0px;
}
.plan .plan_banner .plan_banner_con h5 {
  font-weight: 300;
  font-size: 32px;
  line-height: 38px;
  color: #232323;
}
.plan .know_more .recommend {
  transform: translateY(-50px);
  width: 75%;
  padding: 20px 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plan .know_more .recommend h2 {
  font-weight: 400;
  font-size: 22px;
  color: #232323;
  line-height: 0px;
}
.plan .know_more .recommend a {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  color: white;
  background-color: #AD2534;
  border-radius: 10px;
}

.right_plan_section .right_plan_header {
  text-align: center;
  padding: 50px 0px;
}
.right_plan_section .right_plan_header h1 {
  font-weight: 500;
  font-size: 42px;
  line-height: 50px;
  color: #005B8E;
}
.right_plan_section .right_plan_main .plan_box {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 30px 40px;
}
.right_plan_section .right_plan_main .plan_box .box_img {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 0;
}
.right_plan_section .right_plan_main .plan_box .box_img img {
  width: 100%;
}
.right_plan_section .right_plan_main .plan_box .plan_box_header {
  position: absolute;
  z-index: 11;
}
.right_plan_section .right_plan_main .plan_box .plan_box_header h2 {
  font-weight: 600;
  font-size: 34px;
  color: #AD2534;
}
.right_plan_section .right_plan_main .plan_box .plan_box_header p {
  font-weight: 400;
  font-size: 18px;
  color: #AD2534;
}
.right_plan_section .right_plan_main .plan_box .plan_box_main {
  margin-top: 220px;
}
.right_plan_section .right_plan_main .plan_box .plan_box_main i {
  color: #AD2534;
  font-weight: bold;
  font-size: 20px;
}
.right_plan_section .right_plan_main .plan_box .plan_box_main ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.right_plan_section .right_plan_main .plan_box .plan_box_main ul li {
  line-height: 38px;
}
.right_plan_section .right_plan_main .plan_box .plan_box_main ul li span {
  font-weight: 400;
  font-size: 15px;
}
.right_plan_section .plan_box_footer .btn_box {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right_plan_section .plan_box_footer .btn_box .btn {
  border: 1px solid #AD2534;
  text-transform: uppercase;
  color: #AD2534;
  padding: 10px 20px;
}
.right_plan_section .plan_box_footer .btn_box .btn_2 {
  background-color: #AD2534;
  color: white;
}/*# sourceMappingURL=main.css.map */