* {
    font-family: 'Lato', sans-serif !important;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

$primary_color: #AD2534;
$scolor: #FBD820;
$scolor_2: #005B8E;
$black_color: rgb(0, 0, 0);
$color_white: #ffff;


h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: $black_color;
}

.navbar {
    background-color: $color_white;

    .navbar-brand {
        img {
            height: 100px;
            width: 376px;
        }
    }

    .nav-item {
        .nav-link {
            font-weight: 700;
            font-size: 24px;
            color: $black_color;

            i {
                color: $primary_color;
                margin-right: 10px;
                font-size: 26px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .navbar {
        .navbar-brand {
            img {
                width: 250px;
            }
        }
    }
}

// End of navbar

.home_banner {
    .banner {
        padding: 100px 0px;
        background-image: url("../images/home/Rectangle_9.png");
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        .banner_inner_images {
            .img_3 {
                position: absolute;
                top: 0;
                left: 0;
            }

            .img_4 {
                position: absolute;
                bottom: 0;
                left: 20%;
            }

            .img_5 {
                position: absolute;
                bottom: 0;
                right: 0%;
                height: 100%;
                z-index: 1;
            }

            .img_2 {
                position: absolute;
                top: 3%;
                right: 26%;
            }

            .img_1 {
                position: absolute;
                bottom: 0;
                right: 0%;
                height: 100%;

            }

        }

        .inner_text {
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;

            h1 {
                font-weight: 500;
                font-size: 64px;
                line-height: 77px;
                color: $scolor;
            }

            h2 {
                font-size: 34px;
                color: $color_white;
                font-weight: lighter !important;
            }

            .btn_box {
                margin-top: 20px;
                position: relative;

                p {
                    position: absolute;
                    top: 50%;
                    left: 2%;
                    transform: translateY(-50%);
                    text-transform: uppercase;
                    z-index: 2;

                    span {
                        color: $primary_color;
                    }

                    a {
                        font-weight: 700;
                        text-decoration: none;
                        font-size: 28px;
                        color: $scolor_2;
                    }

                    i {
                        border: 1px solid red;
                        margin-left: 10px;
                        font-weight: 700;
                        background-color: $primary_color;
                        color: $color_white;
                        border-radius: 5px;
                    }
                }
            }


        }
    }

    .home_footer {
        padding: 60px 0px 40px 0px;

        p {
            font-weight: 300;
            font-size: 18px;
            color: $black_color !important;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            text-align: center;
        }
    }
}

.footer_copyright {
    background-color: #EEEEEE;
    padding: 15px 0px 10px 0px;
}

// End of home page 

.tabs {
    .inner_tabs_con {
        padding: 50px 0px;
        background-image: url("../images/tabs/img_1.png");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;


        .inner_child_con {
            height: 100%;
            display: flex;
            align-items: center;

            h2 {
                font-weight: 500;
                font-size: 38px;
                color: $color_white;

                span {
                    color: $scolor;
                }
            }
        }

        .form_box {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            flex-direction: column;

            .btn_box {
                width: 60%;
                text-align: end;

                .btn_next {
                    background-color: $scolor_2;
                    border-radius: 8px;
                    padding: 14px 40px;
                    text-transform: uppercase;
                    color: $color_white;
                    margin-top: 20px;
                }

                .preview_button {
                    margin-top: 20px;
                    background-color: #EEEEEE;
                    padding: 14px;
                    font-weight: bold;
                    margin-right: 5px;
                }
            }

            .form_child {
                background: #FFFFFF;
                box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.25);
                border-radius: 25px 8px;
            }

            .form_header {
                background: #F5F5F5;
                border-radius: 25px 8px;
                padding: 20px;

                p {
                    font-size: 18px;
                    font-weight: 600;
                    margin-top: 15px;
                }

                a {
                    color: $black_color;
                }
            }

            .form_body {
                padding: 25px;

                .form-label {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    color: #5E6366;
                }

                .form-control {
                    border: 1px solid#5E6366 !important;
                    padding: 10px;
                }

                h5 {
                    font-size: 24px;
                    text-align: center;
                }

                .form_check_p {
                    // border:1px solid red;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    p {
                        font-weight: 400;
                        font-size: 18px;
                        margin: 10px 0px;
                        color: $black_color;
                    }

                    .form-check-input {
                        padding: 10px;
                    }

                    .form-check {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        padding: 15px !important;
                        border: 1px solid #E7E7E8;
                        border-radius: 5px;

                    }

                    .form-check .form-check-input {
                        margin-left: 0px !important
                    }
                }
            }
        }
    }
}

// End of tabs pages

// start plan page 

.plan {
    .plan_banner {
        padding: 100px;
        background-image: url("../images/plan/img_38.png");
        background-repeat: no-repeat;
        background-size: cover;

        .plan_banner_con {
            width: 50%;
            text-align: center;

            h4 {
                font-weight: 300;
                font-size: 42px;
                line-height: 50px;
                color: $scolor_2;
                margin: 20px 0px;
            }

            h5 {
                font-weight: 300;
                font-size: 32px;
                line-height: 38px;
                color: #232323;
            }
        }
    }

    .know_more {

        // padding: 50px 0px;
        .recommend {
            transform: translateY(-50px);
            width: 75%;
            padding: 20px 20px;
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;


            h2 {
                font-weight: 400;
                font-size: 22px;
                color: #232323;
                line-height: 0px;
            }

            a {
                text-decoration: none;
                font-weight: 700;
                font-size: 24px;
                color: $color_white;
                background-color: $primary_color;
                border-radius: 10px;
            }
        }
    }

    // End of know_more
}

.right_plan_section {
    .right_plan_header {
        text-align: center;
        padding: 50px 0px;

        h1 {
            font-weight: 500;
            font-size: 42px;
            line-height: 50px;
            color: $scolor_2;
          
        }
    }

    .right_plan_main {
        
        
        .plan_box {
            position: relative;
            background: #FFFFFF;
            box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.1);
            border-radius: 12px;
            padding: 30px 40px;

            .box_img{
                position: absolute;
                top: 0%;
                left: 0%;
                width: 100%;
                z-index: 0;
                img{
                    width: 100%;
                }
            }
            .plan_box_header {
                position:absolute;
                z-index: 11;
                h2 {
                    font-weight: 600;
                    font-size: 34px;
                    color: $primary_color;
                }

                p {
                    font-weight: 400;
                    font-size: 18px;
                    color: $primary_color;
                }
            }

            .plan_box_main {
                margin-top: 220px;
                i {
                    color: $primary_color;
                    font-weight: bold;
                    font-size: 20px;
                }

                ul {
                    list-style: none;
                    margin: 0px;
                    padding: 0px;

                    li {
                        line-height: 38px;

                        span {
                            font-weight: 400;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

    .plan_box_footer {
        .btn_box {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .btn {
                border: 1px solid $primary_color;
                text-transform: uppercase;
                color: $primary_color;
                padding: 10px 20px;
            }
            .btn_2{
                background-color: $primary_color;
                color: $color_white;
            }
            
        }
    }
}

// End of right_plan_section